html{
	background-color: #ffffff;
	line-height: 1.5;
}

body{
	font-family: 'Courier New', monospace;
	font-size: 90%;
}

img {

	max-width: 100%;
	height: auto;
}

/* Main Column Typography */

header{
	padding-top: 20px;
	color: #617140;
}

header h1{
	margin: 0;
	font-weight: normal;
	font-size: 800%;
	letter-spacing: 12px;
}

 header p{
 	margin: 0;
 	font-style: italic;
 }

 header h2{
	margin: 0;
	font-weight: normal;
	font-size: 800%;
	letter-spacing: 12px;
}

.content-area{
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Banner Overlay */
.image-banner {
	position:relative;
}

.image-banner img{
	display: block;
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFF;
	background-color: rgba(0, 0, 0 , .65);
	padding: 15px 25px;
}

.container{
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFF;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Site Navigation */

.site-nav{
	margin-top: 20px;
}
.site-nav ul{
	margin: 0;
	padding: 0;
}
.site-nav li{
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom:none;
 }

 .site-nav a:hover {
 	background-color: #e5e9dc;
 }

/* End Site Navigation */

.main-area{
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Style the Contact Form */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #e5e9dc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  background-color: #fff;
  padding: 20px;
}

/* Style the Search */

.sidebar{
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 50px 50px;
	box-sizing:border-box;
    font-size: 85%;
}

.input-group{
	margin: auto;
	width: 225px;
}

/* Style the submit button */





/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding-bottom: 20px;
	padding-top: 20px;
}

.fix{
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}



/* Form Styles */
form {
	background-color: #ECECEC;
	padding: 40px 40px;
}

.hidden-label{
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}

input,
select{
	font-family: Tahoma, sans-serif;
	font-size: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select{
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 0 10px;
	height: 40px;
	margin-bottom: 15px;
	border: 1px solid #CDCDCD;
	outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
	border: 1px solid #869960;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"] {
	 width: 100%;
	 display: block;
	 box-sizing: border-box;
	 background-color: #869960;
	 color: #FFFF;
	 padding: 10px 0;
	 border: 1px solid #798A56;
	 border-radius: 3px;
	 margin-bottom: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
	border: 1px solid #535E3B;
	background-color: #798A56;
}









